<% if @customers.empty? %>
  <p>there are no customers in this database.</p>
<% else %>
  <h1>All Customers</h1>
  <div class="flex">
    <%= render @customers %>
  </div>
  <p><%=link_to 'alphabetized', customers_alphabetized_path %></p>
  <p><%=link_to 'missing emails', customers_missing_email_path %></p>
<% end %>