<% if @customers.empty? %>
  <p>there are no customers in this database.</p>
<% else %>
  <h1>All Customers without email</h1>
  <div class="flex">
    <%= render @customers %>
  </div>
  <p><%=link_to 'alphabetized', customers_alphabetized_path %></p>
  <p><%=link_to 'back', root_path %></p>
<% end %>