// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  border-style:ridge;
  border-radius: 5px;
  margin: 15px;
}

.flex {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}